/* component-styles.css */


.tab-image {
    max-width: 40px; /* Adjust image width as needed */
    max-height: 30px; /* Adjust image height as needed */
    margin-right: 0px; /* Add spacing between image and text */
}
.tab-name{
    display: inline;
    margin: 0;
    font-size: large;
}